<a href="https://colab.research.google.com/github/johantbueno/-Little-Lemon-database/blob/main/Johan_tapia_tarea_football.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Cargar los datasets
results_df = pd.read_csv('/content/results.csv')
goalscorers_df = pd.read_csv('/content/goalscorers.csv')
shootouts_df = pd.read_csv('/content/shootouts.csv')

In [9]:
# Cargar el dataset principal
results_df = pd.read_csv('/content/results.csv')

In [10]:
# Información inicial
print("Información del dataset principal (results.csv):")
print(results_df.info())
print("\nPrimeros registros:")
print(results_df.head())

Información del dataset principal (results.csv):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47917 entries, 0 to 47916
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        47917 non-null  object
 1   home_team   47917 non-null  object
 2   away_team   47917 non-null  object
 3   home_score  47917 non-null  int64
 4   away_score  47917 non-null  int64
 5   tournament  47917 non-null  object
 6   city        47917 non-null  object
 7   country     47917 non-null  object
 8   neutral     47917 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 3.0+ MB
None

Primeros registros:
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False

In [12]:
# Identificar valores nulos
print("\nvalores nulos por columna")
print(results_df.isnull().sum())

valores nulos por columna
date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [14]:
# Identificar nombres duplicados
duplicados = results_df.duplicated()

In [15]:
# Limpieza básica: eliminar duplicados (si los hay)
results_df = results_df.drop_duplicates()

In [17]:
# Imputación de valores faltantes
# Variables categóricas: imputación por moda
categorical_cols = results_df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    if results_df[col].isnull().sum() > 0:
        moda = results_df[col].mode()[0]
        results_df[col].fillna(moda, inplace=True)

In [ ]:
# Variables numéricas: imputación por media

In [ ]:
# Verificar que no haya valores nulos restantes

In [ ]:
# Guardar el dataset limpio (opcional)

Exploración Inicial, EDA y Limpieza de Datos

In [8]:
## Exploración inicial del dataset principal (results.csv)
print("Información del dataset principal (results.csv):")
print(results_df.info())
print("\nPrimeros registros:")
print(results_df.head())

Información del dataset principal (results.csv):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47917 entries, 0 to 47916
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        47917 non-null  object
 1   home_team   47917 non-null  object
 2   away_team   47917 non-null  object
 3   home_score  47917 non-null  int64
 4   away_score  47917 non-null  int64
 5   tournament  47917 non-null  object
 6   city        47917 non-null  object
 7   country     47917 non-null  object
 8   neutral     47917 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 3.0+ MB
None

Primeros registros:
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False

In [4]:
#Estadisticas descriptivas del dataset principal
print("Estadísticas descriptivas del dataset principal (results.csv):")
print(results_df.describe(include="all"))

Estadísticas descriptivas del dataset principal (results.csv):
              date home_team away_team    home_score    away_score tournament  \
count        47917     47917     47917  47917.000000  47917.000000      47917
unique       16228       327       321           NaN           NaN        176
top     2012-02-29    Brazil   Uruguay           NaN           NaN   Friendly
freq            66       605       575           NaN           NaN      18040
mean           NaN       NaN       NaN      1.757873      1.181752        NaN
std            NaN       NaN       NaN      1.772538      1.399573        NaN
min            NaN       NaN       NaN      0.000000      0.000000        NaN
25%            NaN       NaN       NaN      1.000000      0.000000        NaN
50%            NaN       NaN       NaN      1.000000      1.000000        NaN
75%            NaN       NaN       NaN      2.000000      2.000000        NaN
max            NaN       NaN       NaN     31.000000     21.000000        NaN

                city        country neutral
count          47917          47917   47917
unique          2080            270       2
top     Kuala Lumpur  United States   False
freq             730           1407   35309
mean             NaN            NaN     NaN
std              NaN            NaN     NaN
min              NaN            NaN     NaN
25%              NaN            NaN     NaN
50%              NaN            NaN     NaN
75%              NaN            NaN     NaN
max              NaN            NaN     NaN

In [6]:
# Revision inicial de los otros datasets
print("\nInformación del dataset goalscorers.csv:")
print(goalscorers_df.info())
print("\nPrimeros registros de goalscorers.csv:")
print(goalscorers_df.head())

Información del dataset goalscorers.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44362 entries, 0 to 44361
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       44362 non-null  object
 1   home_team  44362 non-null  object
 2   away_team  44362 non-null  object
 3   team       44362 non-null  object
 4   scorer     44313 non-null  object
 5   minute     44103 non-null  float64
 6   own_goal   44362 non-null  bool
 7   penalty    44362 non-null  bool
dtypes: bool(2), float64(1), object(5)
memory usage: 2.1+ MB
None

Primeros registros de goalscorers.csv:
         date  home_team away_team       team            scorer  minute  \
0  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    44.0
1  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    55.0
2  1916-07-02      Chile   Uruguay    Uruguay  Isabelino Gradín    70.0
3  1916-07-02      Chile   Uruguay    Uruguay   José Piendibene    75.0
4  1916-07-06  Argentina     Chile  Argentina     Alberto Ohaco     2.0

   own_goal  penalty
0     False    False
1     False    False
2     False    False
3     False    False
4     False    False

In [7]:
print("\nInformación del dataset shootouts.csv:")
print(shootouts_df.info())
print("\nPrimeros registros de shootouts.csv:")
print(shootouts_df.head())

Información del dataset shootouts.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           645 non-null    object
 1   home_team      645 non-null    object
 2   away_team      645 non-null    object
 3   winner         645 non-null    object
 4   first_shooter  230 non-null    object
dtypes: object(5)
memory usage: 25.3+ KB
None

Primeros registros de shootouts.csv:
         date    home_team         away_team       winner first_shooter
0  1967-08-22        India            Taiwan       Taiwan           NaN
1  1971-11-14  South Korea  Vietnam Republic  South Korea           NaN
2  1972-05-07  South Korea              Iraq         Iraq           NaN
3  1972-05-17     Thailand       South Korea  South Korea           NaN
4  1972-05-19     Thailand          Cambodia     Thailand           NaN